# Prerequisites
*._lc
*.d
*.ppk
*.log
*.bat
*.exe.manifest
*.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ncb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Файлы моделей
*.qch
*.dat
*.COL
*.xps
*.ptc
*.grs

# Текстуры
*.tga
*.tx
*.zap
*.txx
*.dds
*.png

# Видео
*.mp4
*.wmv

# Звуки/музыка
*.mp3
*.wav
*.ogg

# Шейдеры
*.sha
*.scc

# Архивы
*.7z
*.zip
*.rar
*.lnk

# Папки
*Program/__cache__/
*SAVE/
*RESOURCE/foam/
*RESOURCE/Particles/
*RESOURCE/Sea/
*RESOURCE/Sounds/
*RESOURCE/Textures/
*RESOURCE/VIDEOS/
*RESOURCE_Copy/
*modules/
# *RESOURCE/animation/
options
options_start

#Конфиги
engine.ini

.vscode
.idea
.gitattributes
*.iml
*.ilk
*.bak
*.vso
*.pso
